[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python-headless = "~=4.6"
yt-dlp = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.7"

[pipenv]
allow_prereleases = true
